@import url('https://fonts.googleapis.com/css2?-family=Comforter&family=Montserrat+Alternates:ital,wght@0,400;0,700;1,300&display=swap');

h1 {
    font-family: 'Comforter', cursive;
}
body {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
}
h2, h3, h4, h5, h6 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
}
q {
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: italic;
}


/* SCSS HEX */
$spicy-mix: #8d6743;
$bastille: #1e1721;
$hampton: #e6d6b1;
$amethyst-smoke: #9b94ac;

$dark: $bastille;
$black: $bastille;
$light: $hampton;
$white: $hampton;

// customize some Bootstrap variables
$primary: $spicy-mix;
$secondary: $amethyst-smoke;
$bs-font-sans-serif: 'Montserrat Alternates', sans-serif;
$bs-font-monospace: 'Montserrat Alternates', sans-serif;


// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: $secondary;
    color: $black;
}

.title-website {
    font-family: Comforter, cursive;
    font-size: 2rem;
}
